# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Force binary files to be treated as binary
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.keystore binary
*.so binary
*.aar binary

# Executable scripts
gradlew text eol=lf
